:root{
  --blanco: #f3f3f5;
  --oscuro: #362a2e;
  --primario: #FFC107;
  --secundario: #ff2d16;
  --gris: #757575;
  --grisClaro: #DFE9F3;
}

body {
  background: var(--blanco);
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 20px;
}

.nav-bg{
  background-color: var(--secundario);
}

.navegacion-principal{
  display: flex;
  flex-direction: column;
}

.contenedor{
  max-width: 120rem;
  margin: 0 auto 0 auto;
}

.navegacion-principal a{
  display: block;
  text-align: center;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.navegacion-principal a:hover{
  background-color: var(--primario);
  color: var(--oscuro);
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
}

@media (min-width: 768px ) {
  .navegacion-principal{
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.footer{
  display: flex;
  justify-content: center;
}