:root{
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #231f20;  
    --gris: #757575;
    --fondo: #f3f3f5;
}
html{
    font-size: 62.5%;
    background-color: var(--fondo);
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* 1rem = 10px */
}
.titulo{
    text-align: center;
    font-size: 6rem;
    color: var(--secundario);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px ) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--fondo);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    margin: 0 auto;
    background-image: url(../img/Impresion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Contacto{
    text-align: center;
}

.footer{
   text-align: center;
}