:root{
    --widthPadre: 600px;
    --heightPadre: 400px;
    --rectanguloNaranja: #b74924;
    --azulBoton: #218de2;
}

html{
    font-size: 62.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
    font-size: 1.6rem;
}

h1{
    font-size: 6.5rem;
}

h2{
    font-size: 4rem;
}

.text{
    font-size: 1.8rem;
    padding: 10px;
    font-style: oblique;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}   

.container{
    width: var(--widthPadre);
    height: var(--heightPadre);
    border: 5px solid black; 
    position: relative;
}

.efecto1{
    opacity: 0;
    animation: textoDifuminado 3.5s infinite;
}

.container:hover .efecto1{
    animation-play-state: paused;
}

.efecto2{
    width: 50px;
    height: 50px;
    background-color: green;
    position: relative;
    top: 50%;
    animation: cuadritoVueltas 3s infinite linear;
}

.container:hover .efecto2{
    animation-play-state: paused;
}

.efecto3{
    width: 60px;
    height: 40px;
    background-color: var(--rectanguloNaranja);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    transform: scale(0);
    transition-timing-function: cubic-bezier(0.42, 0, 0.63, 1.48);
}

.container:hover .efecto3{
    transform: scale(10);
}

.efecto4{
    width: 50px;
    height: 50px;
    background-color: #e7e4ff;
    border: 5px dashed #8a6fa1;
    border-radius: 50%;
    animation: circuloGirando 3s infinite linear;
}

.container:hover .efecto4{
    animation-play-state: paused;
}

.btn1{
    cursor: pointer;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    font-size: 2.5rem;
    padding: 10px;
}

.btn1:hover{
    border-color: #b74924;
    background-color: var(--azulBoton);
    color: white;
    border: 5px white dotted;
}

.efecto6{
    width: 50px;
    height: 50px;
    background-color: green;
    animation: cuadradoRebote 4s infinite linear;
}

@keyframes textoDifuminado{
    0%{
        opacity: 0;
        filter: blur(10);
        transform: translateY(50px);
    }
    100%{
        opacity:1;
        filter: blur(0);
        transform: translateY(0);
    }
}

@keyframes cuadritoVueltas{
    100%{
        transform: 
        translateX(calc(var(--widthPadre) - 50px))
        rotate(1.5turn);
    }
}

@keyframes rectanguloAgrandar{
    0%{
    opacity: 0;
    transform: scale(1);
    }
    50%{
        transform: scale(10);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes circuloGirando{
    0%{
        transform:
        rotate(0deg)
        translateX(50px);
    }
    
    100%{
        transform: 
        rotate(360deg)
        translateX(50px);
    }
}

@keyframes cuadradoRebote {
    0%{
        transform: 
        translateY(0px)
        translateX(0px);
    }
    
    33%{
        transform: 
        translateY(350px)
        translateX(200px);
    }

    66%{
        transform: 
        translateY(0px)
        translateX(350px);
    }

    100%{
        transform: 
        translateY(350px)
        translateX(550px);
    }
}