*{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.encabezado{
    text-align: center;
    
}

.cuadradoVerde{
    width: 400px;
    font-size: small;
    height: 250px;
    padding-left: 25px;
    padding: 20px;
    background-color: greenyellow;
    border: 3px solid;
    border-radius: 25px;
}

.fraseRojo{
    color: red ;
}

.cuadradoMorado{
    width: 300px;
    font-size: medium;
    height: 250px;
    padding: 20px;
    background-color: rgb(72, 61, 139);
    border: 3px solid;
    border-color: black;
    float: right;
    color: white;
}

.barraVerde{
    color: white;
    background-color: #008001;
}

.cuadradoCentro{
    width: 300px;
    font-size: medium;
    height: 250px;
    padding: 20px;
    background-color: rgb(72, 61, 139);
    border: 3px solid;
    border-color: black;
    color: white;
}

.rectanguloAzul{

}