.encabezado{
    text-align: center;
}

.cuadradoVerde{
    width: 400px;
    height: 250px;
    padding-left: 25px;
    padding: 20px;
    background-color: greenyellow;
    border: 3px solid;
    border-radius: 25px;
}